# Python NumPy Tutorial

## Basic Data Structures in Python

### Lists

In [131]:
# Insertion tests

In [132]:
list = []
list.append(5)
list.append(8)
list

[5, 8]

In [133]:
aux = [8, 5, 6, 7, -5, 'foo']
list.append(aux)
list

[5, 8, [8, 5, 6, 7, -5, 'foo']]

In [134]:
list[:1]

[5]

In [135]:
list[1:]

[8, [8, 5, 6, 7, -5, 'foo']]

In [136]:
list[2:1]

[]

In [137]:
list[2:]

[[8, 5, 6, 7, -5, 'foo']]

### Dictionaries

In [138]:
# Insertion and remove tests

In [139]:
dic = {'vitor schuh' : 'fraco', 'pilla' : 'professor', 'luciana' : 'professora'}
dic

{'vitor schuh': 'fraco', 'pilla': 'professor', 'luciana': 'professora'}

In [140]:
dic['vitor schuh']

'fraco'

In [141]:
dic['agua'] = 'molhada'
dic

{'vitor schuh': 'fraco',
 'pilla': 'professor',
 'luciana': 'professora',
 'agua': 'molhada'}

In [142]:
del(dic['luciana'])
dic

{'vitor schuh': 'fraco', 'pilla': 'professor', 'agua': 'molhada'}

### Sets

In [143]:
# Insertion, delete, bool and length tests

In [144]:
cidades = {'pelotas', 'rio grande', 'santos', 'são vicente'}
cidades

{'pelotas', 'rio grande', 'santos', 'são vicente'}

In [145]:
'pelotas' in cidades

True

In [146]:
'paris' in cidades

False

In [147]:
cidades.add('paris')
cidades

{'paris', 'pelotas', 'rio grande', 'santos', 'são vicente'}

In [148]:
len(cidades)

5

In [149]:
cidades.remove('pelotas')
len(cidades)

4

## NumPy

In [150]:
import numpy as np

### Library's Basic Functions

In [151]:
a = np.array([1, 2, 3, 4, 5])
a

array([1, 2, 3, 4, 5])

In [152]:
a.shape

(5,)

In [153]:
a[3]

4

In [154]:
b = np.array([[1, 2, 3, 4, 5], [2, 4, 6, 8, 10]])
b

array([[ 1,  2,  3,  4,  5],
       [ 2,  4,  6,  8, 10]])

In [155]:
b.shape

(2, 5)

In [156]:
(b[0,0], b[1,1])

(1, 4)

### Indexing Types

In [157]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [158]:
# Different ways to select the same element/position

In [159]:
a[:4, -1]

array([ 3,  6,  9, 12])

In [160]:
a[[0, 1, 2, 3], [2, 2, 2, 2]]

array([ 3,  6,  9, 12])

In [161]:
bool_idx = a % 3 == 0
a[bool_idx]

array([ 3,  6,  9, 12])

### Datatypes and Array Math

In [162]:
# Array creation with cast

In [163]:
a = np.array([[1, 2], [3, 4]], dtype=np.float64)
a

array([[1., 2.],
       [3., 4.]])

In [164]:
b = np.array([[1.9, 2.3], [3.2, 4.4]], dtype=np.int64)
b

array([[1, 2],
       [3, 4]])

In [165]:
# Array operations

In [166]:
# a + b
np.add(a, b)

array([[2., 4.],
       [6., 8.]])

In [167]:
# a - b
np.subtract(a, b)

array([[0., 0.],
       [0., 0.]])

In [168]:
# a * b
np.multiply(a, b)

array([[ 1.,  4.],
       [ 9., 16.]])

In [169]:
# sum function

In [170]:
np.sum(b)

10

In [171]:
np.sum(b, axis = 0)

array([4, 6])

In [172]:
np.sum(b, axis = 1)

array([3, 7])

In [173]:
# transpose

In [174]:
b

array([[1, 2],
       [3, 4]])

In [175]:
b.T

array([[1, 3],
       [2, 4]])